.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.dark-blue-text {
  color: #0a38f5;
}
#chart {
  max-width: 750px;
  margin: 35px auto;
}
#chart2 {
  max-width: 750px;
  margin: auto;
  margin-top: 35px;
}
